Repository goofybryan/ZarDevs: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-dependency-build.yml, azure-pipelines-http-build.yml

azure-pipelines-dependency-build.yml:

# ASP.NET Core (.NET Framework)
# Build and test ASP.NET Core projects targeting the full .NET Framework.
# Add steps that publish symbols, save build artifacts, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/dotnet-core

trigger:
  branches:
    include:
      - master
      - develop
  paths:
    include:
    - Dependency
    exclude:
    - README.md
    - Dependency/README.md
    - Http/README.md
    - Models/README.md
    - Runtime/README.md
    - src
    - tests
    - LICENSE

pool:
  vmImage: 'windows-latest'

variables:
  solution: '**/ZarDevs.DependencyInjection.sln'
  buildPlatform: 'Any CPU'
  buildConfiguration: 'Release'

steps:

- task: UseDotNet@2
  inputs:
    packageType: 'sdk'
    version: '6.x'

- task: NuGetToolInstaller@1
  inputs:
    versionSpec: '6.x'

- task: DotNetCoreCLI@2
  inputs:
    command: 'build'
    projects: '$(solution)'
    arguments: '--configuration $(buildConfiguration)'

- task: DotNetCoreCLI@2
  inputs:
    command: 'test'
    projects: '$(solution)'
    arguments: '--configuration $(buildConfiguration)'

- task: CopyFiles@2
  inputs:
    SourceFolder: 'Dependency/src'
    Contents: '**'
    TargetFolder: '$(Build.ArtifactStagingDirectory)'
    CleanTargetFolder: true

- task: PublishBuildArtifacts@1
  inputs:
    PathtoPublish: '$(Build.ArtifactStagingDirectory)'

azure-pipelines-http-build.yml:

# ASP.NET Core (.NET Framework)


# Build and test ASP.NET Core projects targeting the full .NET Framework.
# Add steps that publish symbols, save build artifacts, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/dotnet-core

trigger:
  branches:
    include:
      - master
      - develop
  paths:
    include:
    - Http
    exclude:
    - README.md
    - Dependency/README.md
    - Http/README.md
    - Models/README.md
    - Runtime/README.md
    - src
    - tests
    - LICENSE

pool:
  vmImage: 'windows-latest'

variables:
  solution: '**/ZarDevs.Http.sln'
  buildPlatform: 'Any CPU'
  buildConfiguration: 'Release'

steps:
- task: UseDotNet@2
  inputs:
    packageType: 'sdk'
    version: '7.x'

- task: DotNetCoreCLI@2
  inputs:
    command: 'build'
    projects: '$(solution)'
    arguments: '--configuration $(buildConfiguration)'

- task: DotNetCoreCLI@2
  inputs:
    command: 'test'
    projects: '$(solution)'
    arguments: '--configuration $(buildConfiguration)'

- task: CopyFiles@2
  inputs:
    SourceFolder: 'Http/src'
    Contents: '**'
    TargetFolder: '$(Build.ArtifactStagingDirectory)'
    CleanTargetFolder: true

- task: PublishBuildArtifacts@1
  inputs:
    PathtoPublish: '$(Build.ArtifactStagingDirectory)'

Framework Net 7 for test
  Dependency/tests/ZarDevs.DependencyInjection.AutoFac.Tests/ZarDevs.DependencyInjection.AutoFac.Tests.csproj
  Dependency/tests/ZarDevs.DependencyInjection.Microsoft.Tests/ZarDevs.DependencyInjection.Microsoft.Tests.csproj
  Dependency/tests/ZarDevs.DependencyInjection.Ninject.Tests/ZarDevs.DependencyInjection.Ninject.Tests.csproj
  Dependency/tests/ZarDevs.DependencyInjection.RuntimeFactory.Tests/ZarDevs.DependencyInjection.RuntimeFactory.Tests.csproj
  Dependency/tests/ZarDevs.DependencyInjection.SourceGenerator.Tests/ZarDevs.DependencyInjection.SourceGenerator.Tests.csproj
  Dependency/tests/ZarDevs.DependencyInjection.Tests/ZarDevs.DependencyInjection.Tests.csproj
Due: azure-pipelines-dependency-build.yml

Pipeline updates for HTTP and runtime
  azure-pipelines-http-build.yml
  azure-pipelines-runtime-build.yml
Due: none

Http Nuget update
  Http/src/ZarDevs.Http.Api.DependencyInjection/ZarDevs.Http.Api.DependencyInjection.csproj
  Http/src/ZarDevs.Http.Api.Serializers.DependencyInjection/ZarDevs.Http.Api.Serializers.DependencyInjection.csproj
  Http/src/ZarDevs.Http.DependencyInjection/ZarDevs.Http.Client.DependencyInjection.csproj
Due: azure-pipelines-http-build.yml

Set Http to net stardard 2.0
  Http/src/ZarDevs.Http.Abstractions/ZarDevs.Http.Api.Abstractions.csproj
  Http/src/ZarDevs.Http.Api.DependencyInjection/ZarDevs.Http.Api.DependencyInjection.csproj
  Http/src/ZarDevs.Http.Api.Serializers.DependencyInjection/ZarDevs.Http.Api.Serializers.DependencyInjection.csproj
  Http/src/ZarDevs.Http.Api.Serializers/ApiCommandContentSerializerString.cs
  Http/src/ZarDevs.Http.Api.Serializers/ApiCommandContentSerializerXml.cs
  Http/src/ZarDevs.Http.Api.Serializers/ZarDevs.Http.Api.Serializers.csproj
  Http/src/ZarDevs.Http.Api.Serializers/ZarDevs.Http.Api.Serializers.xml
  Http/src/ZarDevs.Http.Api/ZarDevs.Http.Api.csproj
  Http/src/ZarDevs.Http.DependencyInjection/ZarDevs.Http.Client.DependencyInjection.csproj
  Http/src/ZarDevs.Http.Security.Jwt/ZarDevs.Http.Security.Jwt.csproj
  Http/src/ZarDevs.Http.Security/ZarDevs.Http.Security.csproj
  Http/src/ZarDevs.Http/ApiHttpClient.cs
  Http/src/ZarDevs.Http/ZarDevs.Http.Abstractions.xml
  Http/src/ZarDevs.Http/ZarDevs.Http.Client.csproj
Due: azure-pipelines-http-build.yml

1. Fixed an issue in Http Client when request handler is null. 2. Passing cancellation token 3. ConfigureAwait(false)
  Http/src/ZarDevs.Http.Abstractions/ApiCommandException.cs
  Http/src/ZarDevs.Http.Abstractions/ApiCommandFactoryExtensions.cs
  Http/src/ZarDevs.Http.Abstractions/ApiCommandRequest.cs
  Http/src/ZarDevs.Http.Abstractions/IApiCommandAsync.cs
  Http/src/ZarDevs.Http.Abstractions/IApiCommandResponse.cs
  Http/src/ZarDevs.Http.Abstractions/ZarDevs.Http.Abstractions.xml
  Http/src/ZarDevs.Http.Api.Serializers.DependencyInjection/ApiSerializerConfiguration.cs
  Http/src/ZarDevs.Http.Api.Serializers.DependencyInjection/ZarDevs.Http.Api.Serializers.DependencyInjection.xml
  Http/src/ZarDevs.Http.Api/ApiCommandAsync.cs
  Http/src/ZarDevs.Http.Api/ApiCommandResponse.cs
  Http/src/ZarDevs.Http.Api/ApiContentCommandAsync.cs
  Http/src/ZarDevs.Http.Api/ApiDeleteCommandAsync.cs
  Http/src/ZarDevs.Http.Api/ApiGetCommandAsync.cs
  Http/src/ZarDevs.Http.Api/ApiPatchCommandAsync.cs
  Http/src/ZarDevs.Http.Api/ApiPostCommandAsync.cs
  Http/src/ZarDevs.Http.Api/ApiPutCommandAsync.cs
  Http/src/ZarDevs.Http.Api/ApiSendCommandAsync.cs
  Http/src/ZarDevs.Http.Api/ZarDevs.Http.Api.xml
  Http/src/ZarDevs.Http.Security.Jwt/HttpSecurityTokenHandler.cs
  Http/src/ZarDevs.Http/ApiHttpClient.cs
  Http/src/ZarDevs.Http/IApiHttpClient.cs
  Http/src/ZarDevs.Http/ZarDevs.Http.xml
  Http/tests/ZarDevs.Http.Api.Tests/ApiCommandResponseTests.cs
  Http/tests/ZarDevs.Http.Api.Tests/ApiSendCommandAsyncTests.cs
Due: azure-pipelines-http-build.yml

Updated packages
  Dependency/.editorconfig
  Dependency/ZarDevs.DependencyInjection.sln
  Dependency/src/ZarDevs.DependencyInjection.AutoFac/ZarDevs.DependencyInjection.AutoFac.csproj
  Dependency/src/ZarDevs.DependencyInjection.Microsoft/ZarDevs.DependencyInjection.Microsoft.csproj
  Dependency/src/ZarDevs.DependencyInjection.ZarIoc/BindParser.cs
  Dependency/src/ZarDevs.DependencyInjection.ZarIoc/ZarDevs.DependencyInjection.ZarIoc.SourceGen.csproj
  Dependency/tests/ZarDevs.DependencyInjection.AutoFac.Tests/ZarDevs.DependencyInjection.AutoFac.Tests.csproj
  Dependency/tests/ZarDevs.DependencyInjection.Microsoft.Tests/ZarDevs.DependencyInjection.Microsoft.Tests.csproj
  Dependency/tests/ZarDevs.DependencyInjection.Ninject.Tests/ZarDevs.DependencyInjection.Ninject.Tests.csproj
  Dependency/tests/ZarDevs.DependencyInjection.RuntimeFactory.Tests/IocPerformanceTests.cs
  Dependency/tests/ZarDevs.DependencyInjection.RuntimeFactory.Tests/ZarDevs.DependencyInjection.RuntimeFactory.Tests.csproj
  Dependency/tests/ZarDevs.DependencyInjection.SourceGenerator.Tests/IocPerformanceTests.cs
  Dependency/tests/ZarDevs.DependencyInjection.SourceGenerator.Tests/ZarDevs.DependencyInjection.SourceGenerator.Tests.csproj
  Dependency/tests/ZarDevs.DependencyInjection.Tests/IocPerformanceConstruct.cs
  Dependency/tests/ZarDevs.DependencyInjection.Tests/ZarDevs.DependencyInjection.Tests.csproj
  Http/src/ZarDevs.Http.Abstractions/ZarDevs.Http.Api.Abstractions.csproj
  Http/src/ZarDevs.Http.Api.DependencyInjection/ZarDevs.Http.Api.DependencyInjection.csproj
  Http/src/ZarDevs.Http.Api.Serializers.DependencyInjection/ZarDevs.Http.Api.Serializers.DependencyInjection.csproj
  Http/src/ZarDevs.Http.Api.Serializers/ZarDevs.Http.Api.Serializers.csproj
  Http/src/ZarDevs.Http.Api/ZarDevs.Http.Api.csproj
  Http/src/ZarDevs.Http.DependencyInjection/ZarDevs.Http.Client.DependencyInjection.csproj
  Http/src/ZarDevs.Http.Security.Jwt/ZarDevs.Http.Security.Jwt.csproj
  Http/src/ZarDevs.Http.Security/ZarDevs.Http.Security.csproj
  Http/src/ZarDevs.Http/ZarDevs.Http.Client.csproj
  Http/tests/ZarDevs.Http.Api.Tests/ApiCommandAsyncTests.cs
  Http/tests/ZarDevs.Http.Api.Tests/ApiSendCommandAsyncTests.cs
  Http/tests/ZarDevs.Http.Api.Tests/Serializers/ApiCommandContentSerializerFormUrlEncodedTests.cs
  Http/tests/ZarDevs.Http.Api.Tests/Serializers/ApiCommandContentSerializerJsonTests.cs
  Http/tests/ZarDevs.Http.Api.Tests/Serializers/ApiCommandContentSerializerStringTests.cs
  Http/tests/ZarDevs.Http.Api.Tests/Serializers/ApiCommandContentSerializerXmlTests.cs
  Http/tests/ZarDevs.Http.Api.Tests/ZarDevs.Http.Api.Tests.csproj
  Http/tests/ZarDevs.Http.Client.Tests/ApiHttpRequestHandlerTests.cs
  Http/tests/ZarDevs.Http.Client.Tests/ZarDevs.Http.Client.Tests.csproj
  Http/tests/ZarDevs.Http.Tests.WebServer/ZarDevs.Http.Tests.WebServer.csproj
  Runtime/src/ZarDevs.Runtime/ZarDevs.Runtime.csproj
  Runtime/src/ZarDevs.Runtime/ZarDevs.Runtime.xml
  Runtime/tests/ZarDevs.Runtime.Tests/InspectConstructorTests.cs
  Runtime/tests/ZarDevs.Runtime.Tests/ZarDevs.Runtime.Tests.csproj
Due: azure-pipelines-dependency-build.yml, azure-pipelines-http-build.yml

Update azure-pipelines-runtime-build.yml for Azure Pipelines
  azure-pipelines-runtime-build.yml
Due: none

Update azure-pipelines-http-build.yml for Azure Pipelines
  azure-pipelines-http-build.yml
Due: none

Update azure-pipelines-dependency-build.yml for Azure Pipelines
  azure-pipelines-dependency-build.yml
Due: none

Updated to latest zar dev runtime
  Dependency/src/ZarDevs.DependencyInjection.Extensions.Factory/ZarDevs.DependencyInjection.Extensions.Factory.csproj
  Dependency/src/ZarDevs.DependencyInjection.Microsoft/ZarDevs.DependencyInjection.Microsoft.csproj
  Dependency/src/ZarDevs.DependencyInjection.Ninject/ZarDevs.DependencyInjection.Ninject.csproj
  Dependency/src/ZarDevs.DependencyInjection.RuntimeFactory/ZarDevs.DependencyInjection.Runtime.csproj
  Dependency/src/ZarDevs.DependencyInjection/ZarDevs.DependencyInjection.csproj
Due: azure-pipelines-dependency-build.yml

update zar dev packages
  Http/src/ZarDevs.Http.Abstractions/ApiCommandException.cs
  Http/src/ZarDevs.Http.Abstractions/ZarDevs.Http.Abstractions.xml
  Http/src/ZarDevs.Http.Api.DependencyInjection/ZarDevs.Http.Api.DependencyInjection.csproj
  Http/src/ZarDevs.Http.Api.Serializers.DependencyInjection/ZarDevs.Http.Api.Serializers.DependencyInjection.csproj
  Http/src/ZarDevs.Http.Api/ApiCommandContentTypeNotFoundException.cs
  Http/src/ZarDevs.Http.Api/ZarDevs.Http.Api.xml
  Http/src/ZarDevs.Http.DependencyInjection/ZarDevs.Http.Client.DependencyInjection.csproj
  Http/src/ZarDevs.Http.Security/HttpSecurityException.cs
  Http/src/ZarDevs.Http.Security/ZarDevs.Http.Security.xml
  Http/src/ZarDevs.Http/ZarDevs.Http.Client.csproj
Due: azure-pipelines-http-build.yml

Updated packages, added benchmark test
  Dependency/ZarDevs.DependencyInjection.sln
  Dependency/src/ZarDevs.DependencyInjection.AutoFac/ZarDevs - Backup.DependencyInjection.AutoFac.csproj
  Dependency/src/ZarDevs.DependencyInjection.AutoFac/ZarDevs.DependencyInjection.AutoFac.csproj
  Dependency/src/ZarDevs.DependencyInjection.Extensions/DependencyThreadResolution.cs
  Dependency/src/ZarDevs.DependencyInjection.Microsoft/ZarDevs - Backup.DependencyInjection.Microsoft.csproj
  Dependency/src/ZarDevs.DependencyInjection.ZarIoc/ZarDevs - Backup.DependencyInjection.ZarIoc.SourceGen.csproj
  Dependency/tests/ZarDevs.Dependency.Benchmark/BenchmarkTests.cs
  Dependency/tests/ZarDevs.Dependency.Benchmark/PerformanceBenchmark.cs
  Dependency/tests/ZarDevs.Dependency.Benchmark/ZarDevs.Dependency.Benchmark.csproj
  Dependency/tests/ZarDevs.DependencyInjection.AutoFac.Tests/IocPerformanceTestFixture.cs
  Dependency/tests/ZarDevs.DependencyInjection.AutoFac.Tests/ZarDevs - Backup.DependencyInjection.AutoFac.Tests.csproj
  Dependency/tests/ZarDevs.DependencyInjection.Microsoft.Tests/ZarDevs - Backup.DependencyInjection.Microsoft.Tests.csproj
  Dependency/tests/ZarDevs.DependencyInjection.Microsoft.Tests/ZarDevs.DependencyInjection.Microsoft.Tests.csproj
  Dependency/tests/ZarDevs.DependencyInjection.Ninject.Tests/ZarDevs - Backup.DependencyInjection.Ninject.Tests.csproj
  Dependency/tests/ZarDevs.DependencyInjection.Ninject.Tests/ZarDevs.DependencyInjection.Ninject.Tests.csproj
  Dependency/tests/ZarDevs.DependencyInjection.RuntimeFactory.Tests/ZarDevs - Backup.DependencyInjection.RuntimeFactory.Tests.csproj
  Dependency/tests/ZarDevs.DependencyInjection.RuntimeFactory.Tests/ZarDevs.DependencyInjection.RuntimeFactory.Tests.csproj
  Dependency/tests/ZarDevs.DependencyInjection.SourceGenerator.Tests/ZarDevs - Backup.DependencyInjection.SourceGenerator.Tests.csproj
  Dependency/tests/ZarDevs.DependencyInjection.SourceGenerator.Tests/ZarDevs.DependencyInjection.SourceGenerator.Tests.csproj
  Dependency/tests/ZarDevs.DependencyInjection.Tests/IocPerformanceConstruct.cs
  Dependency/tests/ZarDevs.DependencyInjection.Tests/IocTestsConstruct.cs
  Dependency/tests/ZarDevs.DependencyInjection.Tests/ZarDevs - Backup.DependencyInjection.Tests.csproj
  Http/src/ZarDevs.Http.Abstractions/ZarDevs.Http.Api.Abstractions.csproj
  Http/src/ZarDevs.Http.Api.DependencyInjection/ZarDevs.Http.Api.DependencyInjection.csproj
  Http/src/ZarDevs.Http.Api.Serializers.DependencyInjection/ZarDevs.Http.Api.Serializers.DependencyInjection.csproj
  Http/src/ZarDevs.Http.Api.Serializers/ZarDevs.Http.Api.Serializers.csproj
  Http/src/ZarDevs.Http.Api/ApiCommandResponse.cs
  Http/src/ZarDevs.Http.Api/ZarDevs.Http.Api.csproj
  Http/src/ZarDevs.Http.DependencyInjection/ZarDevs.Http.Client.DependencyInjection.csproj
  Http/src/ZarDevs.Http.Security.Jwt/ZarDevs.Http.Security.Jwt.csproj
  Http/src/ZarDevs.Http.Security/ZarDevs.Http.Security.csproj
  Http/src/ZarDevs.Http/ZarDevs.Http.Client.csproj
  Http/tests/ZarDevs.Http.Api.Tests/ZarDevs.Http.Api.Tests.csproj
  Http/tests/ZarDevs.Http.Client.Tests/ZarDevs.Http.Client.Tests.csproj
  Http/tests/ZarDevs.Http.Tests.WebServer/ZarDevs.Http.Tests.WebServer.csproj
Due: azure-pipelines-dependency-build.yml, azure-pipelines-http-build.yml
